@model WebApplication9.Models.Student

<h2>Add Student</h2>

<form asp-action="AddStudent" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Age" class="form-label"></label>
        <input asp-for="Age" type="number" class="form-control" required />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ImageFile" class="form-label"></label>
        <input asp-for="ImageFile" type="file" accept="image/*" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Class" class="form-label"></label>
        <input asp-for="Class" class="form-control" required />
        <span asp-validation-for="Class" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="RollNumber" class="form-label"></label>
        <input asp-for="RollNumber" type="number" class="form-control" required />
        <span asp-validation-for="RollNumber" class="text-danger"></span>
    </div>
   
        <input type="hidden" asp-for="ImageUrl"  value="jjkj" />
    
    <button type="submit" class="btn btn-primary">Add Student</button>
</form>
